.banner {
    background-attachment: fixed;
    background-color: #645862;
    background-image: url(../img/aquachara-466073.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    cursor: default;
    padding: 6em 0;
    text-align: center;

    &__content {
        animation: reveal-banner 1s 0.25s ease-in-out;
        animation-fill-mode: forwards;
        background: rgba(52, 27, 43, 0.5);
        color: #fff;
        display: inline-block;
        padding: 3em;
        text-align: center;
    }

    &__title {
        font-size: 2.5em;
        font-weight: 900;
        letter-spacing: 0.2em;
        margin: 0 0 1em;
        text-transform: uppercase;
    }

    &__sub-text {
        font-size: 1.25em;
        letter-spacing: 0.15em;
        margin: 0 0 1em;
        text-transform: uppercase;
    }
}
